
*{
    box-sizing: border-box;
    line-height: 1.5;
    /*border: 1px solid red;*/
}

body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* Home Page Styles ----------------------*/

.box
{
    width: 1800px;
    height: auto;
    margin: 0 auto;
}

#title
{
    text-align: center;
    font-size: 48px;
}

.box p
{
    font-size: 28px;
    text-align: center;
}

.homeImages
{
    margin: 0 auto;
}

.homeImages a img
{
    display: inline-block;
    width: 450px;
    height: 450px;
    vertical-align: top;
    margin-right: 50px;
    margin-left: 80px;
}

/*-----------------------------------------*/

.recipe-info,
.recipe-extra-info
{
    width: 1800px;
    height: 630px;
}

/*Recipe Info -----------------------------*/
.recipe-info img
{
    display: inline-block;
    width: 430px;
    height: 430px;
}

.recipe-info .recipe-content
{
    display: inline-block;
    width: 1150px;
    height: auto;
    vertical-align: top;
    margin-left: 5px;
}

.recipe-info h1 
{
    text-align: center;
    font-size: 48px;
    margin-top: 0;
}

.recipe-content p,
.recipe-content ul li{
    font-size: 24px;
}

/*-----------------------------------------*/

/* Extra Info Section*/

.recipe-extra-info .ingridents,
.recipe-extra-info .directions
{
    display: inline-block;
    width: 790px; 
    height: auto;
    vertical-align: top;
}

.recipe-extra-info .ingridents h3,
.recipe-extra-info .directions h3
{
    font-size: 28px;
}

.ingridents ul li
{
    font-size: 20px;
}

.directions ol li,
.directions p
{
    font-size: 16.5px;
}














