
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: whitesmoke;
}

p{
    font-size: 40px;
}

li{
    font-size: 26px;
}

h1{
    color: brown;
    font-size: 64px;
    font-weight: 800px;
    text-align: center;
}

.introParagraphIndex{
    text-indent: 25px;
    text-align: center;
}

.container img{
    width: 600px;
    height: 600px;
    display: inline-block;
    margin: 10px 10px;
}




.container.containerRecipe{
    width: 1600px; height: auto;
    margin: 0px auto;
}

.imageAndDescription img{
    width: 500px;
    display: inline-block;
}

.description{
    width: 1000px;
    height: 620px;
    display: inline-block;
    padding-left: 50px;
    text-align: left;
}

